<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Галерея | Маникюр мечты</title>
</head>
<body>
<main>
    <section class="services">
    <header>
        <h1>Извините, галерея временно недоступна </h1>
    </header>
<div class="service">
                    <form method="get" action="{% url 'main' %}">
                <button type="submit">Вернуться на главную</button>
            </form>

                     </div>
    </section>
</main>

</body>
</html>